.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: rgb(77, 77, 121);
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 rgb(77, 77, 121);
  font-size: 8rem;
  color: rgb(128, 214, 165);
}

p {
  font-size: 2rem;
  color: rgb(128, 214, 165);
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: aliceblue;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
